/* theme */

:root {
  --primary: #ffde59;
  --primary-light: #ffea94;
  --accent: #7248ea;
  --warning: #eb4d4b;
  --success: #6ab04c;
  --font-family: "Open Sans", sans-serif;
  --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
  --border-radius: 3px;
  --border: 1 solid #ddd;
  --color-text: #464029;
  --color-dark: #352f1a;
  --gray: #575650;
  --gray-dark: #393835;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--color-text);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-dark);
}

/* flex */

.d-flex {
  display: flex;
}

.flex-row-nowrap {
  flex-flow: row nowrap;
}

.flex-row-wrap {
  flex-flow: row wrap;
}
.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-fill {
  flex: 1;
}

/* margin */

.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

/* padding */

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}
